.classpath
.idea
.project
.settings
.DS_Store
.idea
artifacts
build
components/*/utils/*.class
emailable-report.html
index.html
target
test-output
testng-results.xml
testng.css
tools/*.jar
*.log
*.xpr
*.class
*.iml
