File>Import, "-"
File>Import, "Bio-Formats", loci.plugins.LociImporter("location=[Local machine] windowless=false ")
File>Import, "Bio-Formats (Remote)", loci.plugins.LociImporter("location=[Internet]")
File>Import, "Bio-Formats (Windowless)", loci.plugins.LociImporter("location=[Local machine] windowless=true ")

Plugins>LOCI, "Please use the 'Bio-Formats' menu item instead", loci.plugins.About("")

Plugins>Bio-Formats, "Bio-Formats Importer", loci.plugins.LociImporter("location=[Local machine] windowless=false ")
Plugins>Bio-Formats, "Bio-Formats Exporter", loci.plugins.LociExporter("")

Plugins>Bio-Formats, "-"
Plugins>Bio-Formats, "Bio-Formats Remote Importer", loci.plugins.LociImporter("location=[Internet]")
Plugins>Bio-Formats, "Bio-Formats Windowless Importer", loci.plugins.LociImporter("location=[Local machine] windowless=true ")
Plugins>Bio-Formats, "Bio-Formats Macro Extensions", loci.plugins.macro.LociFunctions("")

Plugins>Bio-Formats, "-"
Plugins>Bio-Formats, "Stack Slicer", loci.plugins.Slicer("")

Plugins>Bio-Formats, "-"
Plugins>Bio-Formats, "Bio-Formats Plugins Configuration", loci.plugins.config.LociConfig("")
Plugins>Bio-Formats, "Bio-Formats Plugins Shortcut Window", loci.plugins.shortcut.ShortcutPanel("")

Plugins>Bio-Formats, "-"
Plugins>Bio-Formats, "Update Bio-Formats Plugins", loci.plugins.Updater("")

Plugins>Bio-Formats, "-"
Plugins>Bio-Formats, "Help", ij.plugin.BrowserLauncher("http://www.openmicroscopy.org/site/support/bio-formats/users/index.html")
Help>About Plugins, "Bio-Formats Plugins...", loci.plugins.About("")
