Supported Formats
-----------------

:term:`Ratings legend and definitions`

You can sort this table by clicking on any of the headings.

.. list-table::
   :class: sortable
   :header-rows: 1
   :widths: 30, 20, 2, 2, 2, 2, 2, 2, 2, 5, 3

   *
     - Format
     - Extensions
     - .. image:: images/header-pixels.png
     - .. image:: images/header-metadata.png
     - .. image:: images/header-openness.png
     - .. image:: images/header-presence.png
     - .. image:: images/header-utility.png
     - .. image:: images/header-export.png
     - BSD
     - Multiple Images
     - Pyramid

#foreach ($format in $formats)
#set ($pagename = $format.get("pagename"))
#if ($format.get("extensions"))
  #set ($extensions = $format.get("extensions"))
#else
  #set ($extensions = "")
#end
#set ($pixels = $format.get("pixelsRating"))
#set ($metadata = $format.get("metadataRating"))
#set ($openness = $format.get("opennessRating"))
#set ($presence = $format.get("presenceRating"))
#set ($utility = $format.get("utilityRating"))
#if ($format.get("writer"))
  #set ($export = "yes")
#else
  #set ($export = "no")
#end
#set ($bsd = $format.get("bsd"))
#if ($format.get("mif"))
  #set ($mif = "yes")
#else
  #set ($mif = "no")
#end
#if ($format.get("pyramid"))
  #set ($pyramid = "yes")
#else
  #set ($pyramid = "no")
#end
   * - :doc:`$pagename`
     - $extensions
     - |$pixels|
     - |$metadata|
     - |$openness|
     - |$presence|
     - |$utility|
     - |$export|
     - |$bsd|
     - |$mif|
     - |$pyramid|
#end

Bio-Formats currently supports **$count** formats

.. glossary::
    Ratings legend and definitions
      +----------------+-----------------------+
      +================+=======================+
      | |Outstanding|  | Outstanding           |
      +----------------+-----------------------+
      | |Very good|    | Very good             |
      +----------------+-----------------------+
      | |Good|         | Good                  |
      +----------------+-----------------------+
      | |Fair|         | Fair                  |
      +----------------+-----------------------+
      | |Poor|         | Poor                  |
      +----------------+-----------------------+

    Pixels
        Our estimation of Bio-Formats' ability to reliably extract complete 
        and accurate pixel values from files in that format. The better this 
        score, the more confident we are that Bio-Formats will successfully 
        read your file without displaying an error message or displaying an 
        erroneous image.

    Metadata
        Our certainty in the thoroughness and correctness of Bio-Formats'   
        metadata extraction and conversion from files of that format into 
        standard OME-XML. The better this score, the more confident we are 
        that all meaningful metadata will be parsed and populated as OME-XML.

    Openness
        This is not a direct expression of Bio-Formats' performance, but 
        rather indicates the level of cooperation the format's controlling 
        interest has demonstrated toward the scientific community with respect 
        to the format. The better this score, the more tools (specification 
        documents, source code, sample files, etc.) have been made available.

    Presence
        This is also not directly related to Bio-Formats, but instead 
        represents our understanding of the format's popularity, and is also 
        as a measure of compatibility between applications. The better this 
        score, the more common the format and the more software packages 
        include support for it.

    Utility
        Our opinion of the format's suitability for storing metadata-rich   
        microscopy image data. The better this score, the wider the variety of 
        information that can be effectively stored in the format.

    Export
        This indicates whether Bio-Formats is capable of writing the format 
        (Bio-Formats can read every format on this list).

    BSD
        This indicates whether format is BSD-licensed.  By default,
        format readers and writers are GPL-licensed.

    Multiple Images
        This indicates whether the format can store multiple Images (in OME-XML terminology)
        or series (in Bio-Formats API terminology).

    Pyramid
        This indicates whether the format can store a single image at multiple resolutions,
        typically referred to as an image pyramid.

.. toctree::
    :maxdepth: 1
    :glob:
    :hidden:

#foreach ($format in $formats)
    $format.get("pagename")
#end
