.. index:: $format
#if ($extensions)
.. index:: $extensions
#end

$format
===============================================================================

Extensions: $extensions $unindexedExtensions

#if ($developer)
Developer: $developer
#end

#if ($owner)
Owner: $owner
#end

**Support**


SCIFIO: |$scifio|

Export: |$export|

Officially Supported Versions: $versions

Supported Metadata Fields:

#if ($software)
Freely Available Software:

#foreach ($item in $software)
- $item
#end
#end

#if ($samples)
Sample Datasets:

#foreach ($sample in $samples)
- $sample
#end
#end

We currently have:

#foreach ($item in $weHave)
- $item
#end

We would like to have:

#foreach ($item in $weWant)
- $item
#end

**Ratings**


Pixels: |$pixelsRating|

Metadata: |$metadataRating|

Openness: |$opennessRating|

Presence: |$presenceRating|

Utility: |$utilityRating|


**Additional Information**


Source Code: #foreach ($item in $reader)
#if ($velocityHasNext):$readerextlink:`$item`, #else:$readerextlink:`$item`#end
#end

#if ($writer)
Source Code: :$writerextlink:`$writer`
#end

Notes:

#if ($privateSpecification)
**Please note that while we have specification documents for this
format, we are not able to distribute them to third parties.**
#end

#foreach ($note in $notes)
$note
#end
