.. index:: $format
#if ($indexExtensions)
.. index:: $indexExtensions
#end

$format
===============================================================================

#if ($extensions)
Extensions: $extensions
#end

#if ($developer)
Developer: $developer
#end

#if ($owner)
Owner: $owner
#end

**Support**


BSD-licensed: |$bsd|

#if ($writer)
Export: |yes|
#else
Export: |no|
#end

Officially Supported Versions: $versions

#if ($reader.size() > 1)
Readers:

#foreach ($item in $reader)
- ${item} (:$readerextlink:`Source Code <${item}.java>`, :doc:`Supported Metadata Fields </metadata/${item}>`)
#end
#else
#set ($item = $reader.get(0))
Reader: ${item} (:$readerextlink:`Source Code <${item}.java>`, :doc:`Supported Metadata Fields </metadata/${item}>`)
#end

#if ($writer)
Writer: ${writer} (:$writerextlink:`Source Code <${writer}.java>`)
#end

#if ($software)
Freely Available Software:

#foreach ($item in $software)
- $item
#end
#end

#if ($samples)
Sample Datasets:

#foreach ($sample in $samples)
- $sample
#end
#end

We currently have:

#foreach ($item in $weHave)
$item
#end

We would like to have:

#foreach ($item in $weWant)
$item
#end

**Ratings**


Pixels: |$pixelsRating|

Metadata: |$metadataRating|

Openness: |$opennessRating|

Presence: |$presenceRating|

Utility: |$utilityRating|

#if (($privateSpecification) or ($notes))
**Additional Information**
#end

#if ($privateSpecification)
**Please note that while we have specification documents for this
format, we are not able to distribute them to third parties.**
#end

#foreach ($note in $notes)
$note
#end
