= $q.handler() =
#set ($handler = "Bio-Formats " + $q.format() + " format " + $q.handlerType())

This page lists supported metadata fields for the
$handler.

These fields are from the [http://www.ome-xml.org/ OME data model].
Bio-Formats standardizes each format's original metadata to and from the OME
data model so that you can work with a particular piece of metadata (e.g.,
physical width of the image in microns) in a format-independent way.

#set ($yesList = $q.yes())
#set ($partialList = $q.partial())
#set ($noList = $q.no())
#set ($missingList = $q.missing())
#set ($yesCount = $yesList.size())
#set ($partialCount = $partialList.size())
#set ($noCount = $noList.size())
#set ($missingCount = $missingList.size())
#set ($totalCount = $yesCount + $partialCount + $noCount + $missingCount)
#set ($handledCount = $yesCount + $partialCount + $noCount)
#set ($handledPercent = 100 * $handledCount / $totalCount)
#set ($bfCount = $yesCount + $partialCount)
#set ($bfPercent = 100 * $bfCount / $handledCount)
Of the $totalCount fields documented below:
  * The file format itself supports $handledCount of them ($handledPercent%).
  * Of those, Bio-Formats fully or partially converts $bfCount ($bfPercent%).
#if ($yesCount > 0)

== Supported fields ==
These fields are fully supported by the
$handler:
#foreach ($yes in $yesList)
#set ($entity = $q.entity($yes))
#set ($node = $q.node($entity))
#set ($prop = $q.prop($yes))
#set ($comment = $q.comment($yes))
#if ($comment != "")
  * [http://cvs.openmicroscopy.org.uk/svn/specification/Documentation/Generated/OME-$q.version()/ome.xsd.html#element_$node $entity]: $prop - $comment
#else
  * [http://cvs.openmicroscopy.org.uk/svn/specification/Documentation/Generated/OME-$q.version()/ome.xsd.html#element_$node $entity]: $prop
#end##if $comment
#end##foreach $yes
=== Total supported: $yesList.size() ===
#end##if $yesCount > 0
#if ($partialCount > 0)

== Partially supported fields ==
The $handler
supports these fields in some cases,
but there may be cases where the field is not converted:
#foreach ($partial in $partialList)
#set ($entity = $q.entity($partial))
#set ($node = $q.node($entity))
#set ($prop = $q.prop($partial))
#set ($comment = $q.comment($partial))
#if ($comment != "")
  * [http://cvs.openmicroscopy.org.uk/svn/specification/Documentation/Generated/OME-$q.version()/ome.xsd.html#element_$node $entity]: $prop - $comment
#else
  * [http://cvs.openmicroscopy.org.uk/svn/specification/Documentation/Generated/OME-$q.version()/ome.xsd.html#element_$node $entity]: $prop
#end##if $comment
#end##foreach $partial
=== Total partially supported: $partialList.size() ===
#end##if $partialCount > 0
#if ($noCount > 0)

== Unsupported fields ==
For one reason or another, the
$handler
does not support these fields:
#foreach ($no in $noList)
#set ($entity = $q.entity($no))
#set ($node = $q.node($entity))
#set ($prop = $q.prop($no))
#set ($comment = $q.comment($no))
#if ($comment != "")
  * [http://cvs.openmicroscopy.org.uk/svn/specification/Documentation/Generated/OME-$q.version()/ome.xsd.html#element_$node $entity]: $prop - $comment
#else
  * [http://cvs.openmicroscopy.org.uk/svn/specification/Documentation/Generated/OME-$q.version()/ome.xsd.html#element_$node $entity]: $prop
#end##if $comment
#end##foreach $no
=== Total unsupported: $noList.size() ===
#end##if $noCount > 0
#if ($missingCount > 0)

== Unknown or missing fields ==
As far as we are aware, these fields are not supported by the $q.format()
format. However, our knowledge of the format may be incomplete due to
lack of documentation or sample data.
#foreach ($missing in $missingList)
#set ($entity = $q.entity($missing))
#set ($node = $q.node($entity))
#set ($prop = $q.prop($missing))
#set ($comment = $q.comment($missing))
#if ($comment != "")
  * [http://cvs.openmicroscopy.org.uk/svn/specification/Documentation/Generated/OME-$q.version()/ome.xsd.html#element_$node $entity]: $prop - $comment
#else
  * [http://cvs.openmicroscopy.org.uk/svn/specification/Documentation/Generated/OME-$q.version()/ome.xsd.html#element_$node $entity]: $prop
#end##if $comment
#end##foreach $missing
=== Total unknown or missing: $missingList.size() ===
#end##if $missingCount > 0
