Summary of supported metadata fields
===============================================================================

Format readers
--------------

.. only:: html

    You can sort this table by clicking on any of the headings.

.. tabularcolumns:: |p{3cm}|c|c|c|c|

.. list-table::
   :class: sortable
   :header-rows: 1
   :widths: 30, 10, 10, 10, 10

   * - Reader
     - Supported
     - Unsupported
     - Partial
     - Unknown/Missing

#foreach ($handler in $q.handlers())
#set ($dummy = $q.setHandler($handler))
#set ($yesList = $q.yes())
#set ($partialList = $q.partial())
#set ($noList = $q.no())
#set ($missingList = $q.missing())
#set ($yesCount = $yesList.size())
#set ($partialCount = $partialList.size())
#set ($noCount = $noList.size())
#set ($missingCount = $missingList.size())
#set ($pagename = $q.getPageName())
   * - :doc:`$handler <$pagename>`
     - $yesCount
     - $noCount
     - $partialCount
     - $missingCount
#end##foreach $handler

Metadata fields
---------------

.. only:: html

    You can sort this table by clicking on any of the headings.

.. tabularcolumns:: |p{3cm}|c|c|c|c|

.. list-table::
   :class: sortable
   :header-rows: 1
   :widths: 30, 10, 10, 10, 10

   *
    - Field
    - Supported
    - Unsupported
    - Partial
    - Unknown/Missing

#set ($qq = $q.entityList())
#foreach ($entity in $qq.entities())
#set ($dummy = $qq.setEntity($entity))
#set ($node = $q.node($entity))
#foreach ($prop in $qq.props())
#set ($dummyProp = $qq.setProperty($prop))
#set ($schema = $qq.schema())
#set ($anchor = $qq.anchor())
   * - :schema:`$entity - $prop <OME-$q.version()/$schema#$anchor>`
     - $q.yesHandlerCount($entity, $prop)
     - $q.noHandlerCount($entity, $prop)
     - $q.partialHandlerCount($entity, $prop)
     - $q.missingHandlerCount($entity, $prop)
#end##foreach $prop
#end##foreach $entity

.. toctree::
    :maxdepth: 1
    :glob:
    :hidden:

    metadata/*
