*******************************************************************************
$q.handler()
*******************************************************************************
#if ($q.format())
#set ($handler = "Bio-Formats " + $q.format() + " format " + $q.handlerType())
#else
#set ($handler = "Bio-Formats " + $q.handler())
#end
#set ($entities = $q.entityList())

This page lists supported metadata fields for the $handler.

These fields are from the :model_doc:`OME data model <>`.
Bio-Formats standardizes each format's original metadata to and from the OME
data model so that you can work with a particular piece of metadata (e.g.
physical width of the image in microns) in a format-independent way.

#set ($yesList = $q.yes())
#set ($partialList = $q.partial())
#set ($noList = $q.no())
#set ($missingList = $q.missing())
#set ($yesCount = $yesList.size())
#set ($partialCount = $partialList.size())
#set ($noCount = $noList.size())
#set ($missingCount = $missingList.size())
#set ($totalCount = $yesCount + $partialCount + $noCount + $missingCount)
#set ($handledCount = $yesCount + $partialCount + $noCount)
#set ($handledPercent = 100 * $handledCount / $totalCount)
#set ($bfCount = $yesCount + $partialCount)
#set ($bfPercent = 100 * $bfCount / $handledCount)
Of the $totalCount fields documented in the :doc:`metadata summary table </metadata-summary>`:
  * The file format itself supports $handledCount of them ($handledPercent%).
  * Of those, Bio-Formats fully or partially converts $bfCount ($bfPercent%).
#if ($yesCount > 0)

Supported fields
===============================================================================

These fields are fully supported by the $handler:
#foreach ($yes in $yesList)
#set ($entity = $q.entity($yes))
#set ($node = $q.node($entity))
#set ($prop = $q.prop($yes))
#set ($comment = $q.comment($yes))
#set ($dummy = $entities.setEntity($entity))
#set ($dummyProp = $entities.setProperty($prop))
#set ($schema = $entities.schema())
#set ($anchor = $entities.anchor())
#if ($comment != "")
  * :schema:`$entity : $prop <OME-$q.version()/$schema#$anchor>` - $comment
#else
  * :schema:`$entity : $prop <OME-$q.version()/$schema#$anchor>`
#end##if $comment
#end##foreach $yes

**Total supported: $yesList.size()**
#end##if $yesCount > 0
#if ($partialCount > 0)

Partially supported fields
===============================================================================

The $handler supports these fields in some cases,
but there may be cases where the field is not converted:
#foreach ($partial in $partialList)
#set ($entity = $q.entity($partial))
#set ($node = $q.node($entity))
#set ($prop = $q.prop($partial))
#set ($comment = $q.comment($partial))
#set ($dummy = $entities.setEntity($entity))
#set ($dummyProp = $entities.setProperty($prop))
#set ($schema = $entities.schema())
#set ($anchor = $entities.anchor())
#if ($comment != "")
  * :schema:`$entity : $prop <OME-$q.version()/$schema#$anchor>` - $comment
#else
  * :schema:`$entity : $prop <OME-$q.version()/$schema#$anchor>`
#end##if $comment
#end##foreach $partial

**Total partially supported: $partialList.size()**
#end##if $partialCount > 0

**Total unknown or missing: $missingList.size()**
