Summary of supported metadata fields
===============================================================================

**Format readers**

.. tabularcolumns:: |p{3cm}|c|c|c|c|

.. list-table::
   :header-rows: 1
   :widths: 30, 10, 10, 10, 10

   *
    - Format
    - Supported
    - Unsupported
    - Partial
    - Unknown/Missing

#foreach ($handler in $q.handlers())
#set ($dummy = $q.setHandler($handler))
#set ($yesList = $q.yes())
#set ($partialList = $q.partial())
#set ($noList = $q.no())
#set ($missingList = $q.missing())
#set ($yesCount = $yesList.size())
#set ($partialCount = $partialList.size())
#set ($noCount = $noList.size())
#set ($missingCount = $missingList.size())
  * - $handler
    - $yesCount
    - $noCount
    - $partialCount
    - $missingCount
#end##foreach $handler

**Metadata Fields**

.. tabularcolumns:: |p{3cm}|c|c|c|c|

.. list-table::
   :header-rows: 1
   :widths: 30, 10, 10, 10, 10

   *
    - Field
    - Supported
    - Unsupported
    - Partial
    - Unknown/Missing

#set ($qq = $q.entityList())
#foreach ($entity in $qq.entities())
#set ($dummy = $qq.setEntity($entity))
#set ($node = $q.node($entity))
#foreach ($prop in $qq.props())
   * - `$entity - $prop <http://www.openmicroscopy.org/Schemas/Documentation/Generated/OME-$q.version()/ome_xsd.html#$node>`_
     - $q.yesHandlerCount($entity, $prop)
     - $q.noHandlerCount($entity, $prop)
     - $q.partialHandlerCount($entity, $prop)
     - $q.missingHandlerCount($entity, $prop)
#end##foreach $prop
#end##foreach $entity
