*******************************************************************************
$q.handler()
*******************************************************************************
#set ($handler = "Bio-Formats " + $q.format() + " format " + $q.handlerType())

This page lists original metadata key/value pairs for the $handler.

Key/value pairs
===============================================================================

#foreach ($key in $originalMetadata.keySet())
#set ($valueList = $originalMetadata.get($key))
* $key

::

#foreach ($value in $valueList)
  - $value
#end

#end
