= $format =
#set ($handler = "Bio-Formats " + $q.format() + " format " + $q.handlerType())

This page lists original metadata key/value pairs for $format files.

== Key/value pairs ==

#foreach ($key in $q.keySet())
#set ($valueList = $q.get($key))
  $key = {
#foreach ($value in $valueList)
$value,
#end
}

#end
