<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>README-build: build instructions for the jai-imageio-core
project</title>
</head>
<body>
<h3><span style="font-weight: bold; text-decoration: underline;">Building
the Java Advanced Imaging Image I/O Tools Packages</span></h3>
<p><span style="text-decoration: underline;"><span
 style="font-weight: bold;"></span></span><span
 style="font-weight: bold; text-decoration: underline;"> </span></p>
<p>To
build the Java Advanced Imaging Image I/O Tools packages, you must
first checkout the <a href="http://jai-imageio-core.dev.java.net/">jai-imageio-core</a>
CVS
repository on java.net. For example, run
the cvs checkout command as follows:<br>
</p>
<ul>
  <code>cd &lt;cvs-root-dir&gt;</code><br>
  <code>cvs checkout jai-imageio-core</code>
</ul>
<p></p>
<h3><span style="font-weight: bold; text-decoration: underline;"></span><span
 style="text-decoration: underline;">System Requirements</span></h3>
<p><span style="font-weight: bold; text-decoration: underline;"></span></p>
<p><span style="font-weight: bold; text-decoration: underline;"></span>
Any operating environment that supports J2SE should work. We have built
jai-imageio-core on the following operating
environments:<br>
</p>
<ul>
  <li>Solaris-sparc: Sparc (Ultra60 or better) running Solaris 9</li>
  <li>Solaris-x86: i386/i586 running Solaris-x86 9<br>
  </li>
  <li>Linux: i386/i586 running SuSE 9 or RedHat 9.0</li>
  <li>Windows: Windows/XP, Windows 2000</li>
</ul>
The following software must be installed:<br>
<ul>
  <li><a href="http://java.sun.com/j2se">J2SE 1.4&nbsp;</a> or later.<br>
  </li>
  <li><a href="http://jakarta.apache.org/ant">Apache Ant 1.6&nbsp;</a>
or later </li>
</ul>
<p></p>
<h3><span style="font-weight: bold; text-decoration: underline;">Building
Java Advanced Imaging Image I/O Tools<br>
</span></h3>
<p><span style="font-weight: bold; text-decoration: underline;"></span><span
 style="font-weight: bold; text-decoration: underline;"></span>Before
you start building, your PATH must include these  directories
<ul>
  <li>&lt;ant-root-dir&gt;/bin<br>
  </li>
  <li>&lt;jdk-root-dir&gt;/bin</li>
</ul>
and Java Advanced Imaging (JAI) must be be referenced either by
<ul>
<li>JAI being installed in the J2SDK used for the build; or</li>
<li><tt>jai_core.jar</tt> being on the <tt>CLASSPATH</tt>.</li>
</ul>
Setting the JAVA_HOME or JAVACMD environment variable will supersede
&lt;jdk-root-dir&gt;/bin for ant. For further details please refer to
the ant manual.
</p>
<p>The default target, jar, creates both optimized and debug jar files.
</p>
To build:<br>
<ul>
  <code> cd &lt;cvs-root-dir&gt;/jai-imageio-core<br>
ant</code>
</ul>
<p>The above steps build the Java code for the jj2000.*,
com.sun.media.imageio.*, com.sun.media.imageioimpl.*,&nbsp;
com.sun.media.jai.imageioimpl and com.sun.media.jai.operator packages. <br>
</p>
<p>The build will be placed in <code>jai-imageio-core/build/&lt;platform&gt;/opt</code>,
where &lt;platform&gt; is determined from the <code>ant
echo</code> command:
</p>
<ul>
  <code>ant echo</code>
</ul>
Jar files are placed in <code>jai-imageio-core/build/&lt;platform&gt;/opt/lib/ext.</code>
Binaries for native libraries are part of the project and are copied to
the <code>jai-imageio-core/build/&lt;platform&gt;/opt/&lt;jrenativesubdir&gt;</code>
directory as
part of the build, where <code>&lt;jrenativesubdir&gt; </code>is
determined from the <code>ant
echo</code> command as above.<br>
<br>
To see other targets that are available, type "ant
-projecthelp". Note that ant must be run from the top-level
directory.
<h3><span style="font-weight: bold; text-decoration: underline;">Running
Java Advanced Imaging Image I/O Tools<br>
</span></h3>
To run Java Advanced Imaging Image I/O Tools, please checkout the <a
 href="https://jai-imageio-demos.dev.java.net/">jai-imageio-demos</a>
project and then
refer to <a href="../jai-imageio-demos/README-build.html">README-build.html</a>
in
jai-imageio-demos for
details
on building and running Java Advanced Imaging Image I/O Tools demo
programs.
</body>
</html>
