File>Import, "-"
File>Import, "Bio-Formats", loci.plugins.LociImporter("location=[Local machine] windowless=false ")
File>Import, "Bio-Formats (Remote)", loci.plugins.LociImporter("location=[Internet]")
File>Import, "Bio-Formats (Windowless)", loci.plugins.LociImporter("location=[Local machine] windowless=true ")

#Plugins>LOCI, "Bio-Formats Master Importer", loci.plugins.LociImporter("")

Plugins>LOCI, "Bio-Formats Importer", loci.plugins.LociImporter("location=[Local machine] windowless=false ")
Plugins>LOCI, "Bio-Formats Exporter", loci.plugins.LociExporter("")

Plugins>LOCI, "-"
Plugins>LOCI, "Bio-Formats Remote Importer", loci.plugins.LociImporter("location=[Internet]")
Plugins>LOCI, "Bio-Formats Windowless Importer", loci.plugins.LociImporter("location=[Local machine] windowless=true ")
Plugins>LOCI, "Bio-Formats Macro Extensions", loci.plugins.macro.LociFunctions("")

Plugins>LOCI, "-"
Plugins>LOCI, "Stack Slicer", loci.plugins.Slicer("")

Plugins>LOCI, "-"
Plugins>LOCI, "LOCI Plugins Configuration", loci.plugins.config.LociConfig("")
Plugins>LOCI, "LOCI Plugins Shortcut Window", loci.plugins.shortcut.ShortcutPanel("")

Plugins>LOCI, "-"
Plugins>LOCI, "Update LOCI Plugins", loci.plugins.Updater("")

Plugins>LOCI, "-"
Plugins>LOCI, "Help", ij.plugin.BrowserLauncher("http://www.openmicroscopy.org/site/support/bio-formats/users/index.html")
Help>About Plugins, "LOCI Plugins...", loci.plugins.About("")
