<suite name="BioFormats Unit Tests">
    <test name="ServiceTests">
        <groups/>
        <classes>
            <class name="loci.formats.utests.MDBServiceTest"/>
            <class name="loci.formats.utests.NetCDFServiceTest"/>
            <class name="loci.formats.utests.POIServiceTest"/>
        </classes>
        <packages>
            <package name="loci.formats.utests.xml"/>
        </packages>
    </test>
    <test name="2010-04SchemaModelObjects">
        <groups>
            <run>
                <exclude name="disabled"/>
            </run>
        </groups>
        <parameter name="mockClassName"
                   value="loci.formats.utests.ObjectBasedOMEModelMock"/>
        <classes>
            <class name="loci.formats.utests.InOut201004Test"/>
        </classes>
    </test>
    <test name="2010-04SchemaIMetadata">
        <groups>
            <run>
                <exclude name="disabled"/>
            </run>
        </groups>
        <parameter name="mockClassName"
                   value="loci.formats.utests.IMetadataBasedOMEModelMock"/>
        <classes>
            <class name="loci.formats.utests.InOut201004Test"/>
        </classes>
    </test>
    <test name="XMLAnnotation">
      <groups/>
      <classes>
        <class name="loci.formats.utests.XMLAnnotationTest"/>
      </classes>
    </test>
    <test name="ScreenReader">
      <groups/>
      <classes>
        <class name="loci.formats.utests.ScreenDetectionTest"/>
      </classes>
    </test>
</suite>
