<!--
  #%L
  BSD implementations of Bio-Formats readers and writers
  %%
  Copyright (C) 2005 - 2017 Open Microscopy Environment:
    - Board of Regents of the University of Wisconsin-Madison
    - Glencoe Software, Inc.
    - University of Dundee
  %%
  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:
  
  1. Redistributions of source code must retain the above copyright notice,
     this list of conditions and the following disclaimer.
  2. Redistributions in binary form must reproduce the above copyright notice,
     this list of conditions and the following disclaimer in the documentation
     and/or other materials provided with the distribution.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR CONTRIBUTORS BE
  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE.
  #L%
  -->
<suite name="Formats-BSD Unit Tests">
    <test name="ServiceTests">
        <groups/>
        <classes>
            <class name="loci.formats.utests.OMEXMLServiceTest"/>
        </classes>
        <packages>
            <package name="loci.formats.utests.xml"/>
        </packages>
    </test>
    <test name="TIFFTests">
        <groups>
            <run>
                <exclude name="tiffParserTests"/>
            </run>
        </groups>
        <classes/>
        <packages>
            <package name="loci.formats.utests.tiff"/>
        </packages>
    </test>
    <test name="BaseTIFFParserTest">
        <parameter name="mockClassName"
                   value="loci.formats.utests.tiff.BaseTiffMock"/>
        <classes>
            <class name="loci.formats.utests.tiff.TiffParserTest"/>
        </classes>
    </test>
    <test name="RGBTIFFParserTest">
        <parameter name="mockClassName"
                   value="loci.formats.utests.tiff.RGBTiffMock"/>
        <classes>
            <class name="loci.formats.utests.tiff.TiffParserTest"/>
        </classes>
    </test>
    <test name="TiffWriterTest">
      <groups/>
      <classes>
        <class name="loci.formats.utests.out.TiffWriterTest"/>
        <class name="loci.formats.utests.out.OMETiffWriterTest"/>
      </classes>
    </test>
    <test name="ReaderWrapper">
      <groups/>
      <classes>
        <class name="loci.formats.utests.WrapperTest"/>
      </classes>
    </test>
    <test name="DimensionSwapper">
    	<groups/>
    	<classes>
    		<class name="loci.formats.utests.DimensionSwapperTest"/>
    	</classes>
    </test>
    <test name="ModelMockReader">
      <groups/>
      <classes>
        <class name="loci.formats.utests.SPWModelReaderTest"/>
        <class name="loci.formats.utests.BaseModelReaderTest"/>
        <class name="loci.formats.utests.BaseModelNoBinDataReaderTest"/>
        <class name="loci.formats.utests.PumpWithLightSourceSettingsTest"/>
      </classes>
    </test>
    <test name="ServiceFactory">
        <groups/>
        <classes>
            <class name="loci.formats.utests.ServiceFactoryTest"/>
        </classes>
        <packages/>
    </test>
    <test name="IsThisType">
      <groups/>
      <classes>
        <class name="loci.formats.utests.IsThisTypeTests"/>
      </classes>
    </test>
    <test name="LosslessJPEG2000">
      <groups/>
        <classes>
          <class name="loci.formats.utests.LosslessJPEG2000Test"/>
          <class name="loci.formats.utests.EightBitLosslessJPEG2000Test"/>
          <class name="loci.formats.utests.SixteenBitLosslessJPEG2000Test"/>
        </classes>
    </test>
    <test name="MemoizerTest">
      <groups/>
      <classes>
        <class name="loci.formats.utests.MemoizerTest"/>
      </classes>
    </test>
    <test name="AxisGuesserTest">
      <groups/>
      <classes>
        <class name="loci.formats.utests.AxisGuesserTest"/>
      </classes>
    </test>
    <test name="FilePatternTests">
      <groups/>
      <classes>
        <class name="loci.formats.utests.FilePatternBlockTest"/>
        <class name="loci.formats.utests.FilePatternTest"/>
      </classes>
    </test>
    <test name="FileStitcherTest">
      <groups/>
      <classes>
        <class name="loci.formats.utests.FileStitcherTest"/>
      </classes>
    </test>
    <test name="FakeReaderTest">
      <groups/>
      <classes>
        <class name="loci.formats.utests.FakeReaderTest"/>
      </classes>
    </test>
    <test name="GenericExcitationMapTest">
      <groups/>
      <classes>
        <class name="loci.formats.utests.GenericExcitationMapTest"/>
      </classes>
    </test>
    <test name="ImagingEnvironmentMapTest">
      <groups/>
      <classes>
        <class name="loci.formats.utests.ImagingEnvironmentMapTest"/>
      </classes>
    </test>
    <test name="MapAnnotationTest">
      <groups/>
      <classes>
        <class name="loci.formats.utests.MapAnnotationTest"/>
      </classes>
    </test>
    <test name="ConversionTest">
      <groups/>
      <classes>
        <class name="loci.formats.utests.ConversionTest"/>
      </classes>
    </test>
    <test name="CompressDecompressTest">
      <groups/>
      <classes>
        <class name="loci.formats.utests.CompressDecompressTest"/>
      </classes>
    </test>
    <test name="ImageReaderTest">
      <groups/>
      <classes>
        <class name="loci.formats.utests.ImageReaderTest"/>
      </classes>
    </test>
    <test name="MinMaxCalculatorTest">
      <groups/>
      <classes>
        <class name="loci.formats.utests.MinMaxCalculatorTest"/>
      </classes>
    </test>
</suite>
