include README LICENSE MANIFEST.in
include MANIFEST
include setup.py
include generateDS.py
include generatedssuper.py
include process_includes.py
include generate_coverage.py
include generateDS.html
include gends_user_methods.py
include Demos/People/people.xsd
include Demos/People/people.xml
include Demos/People/peoplesup.py
include Demos/People/peoplesub.py
include Demos/People/README
include Demos/People/Validators/*.py
include Demos/Outline/outline.xsd
include Demos/Outline/outline.xml
include Demos/Outline/outline.py
include Demos/Outline/outline_extended.py
include Demos/Outline/outlinetest.py
include Demos/Outline/README
include Demos/Xmlbehavior/README
include Demos/Xmlbehavior/po.py
include Demos/Xmlbehavior/po.xsd
include Demos/Xmlbehavior/po_sub.py
include Demos/Xmlbehavior/xmlbehavior.py
include Demos/Xmlbehavior/xmlbehavior.xsd
include Demos/Xmlbehavior/xmlbehavior_po.xml
include Demos/Xmlbehavior/xmlbehavior_sub.py
include tests/test.py
include tests/people.xsd tests/people.xml
include tests/out1sup.py  tests/out1sub.py
include SWIG/*

include xsltvsgenerateds.css xsltvsgenerateds.html

