# Generate the jar file using ./build_plugins in loci directory
# Version: 1.0
# Date: 2006/06/28

# Name: Bio-Formats
# Authors: Melissa Linkert, Curtis Rueden and Eric Kjellman
Plugins, "Bio-Formats Importer", loci.formats.LociImporter("")
Plugins, "Bio-Formats Exporter", loci.formats.LociExporter("")

# Name: 4D Data Browser
# Authors: Francis Wong and Curtis Rueden
Plugins, "4D Data Browser", loci.browser.LociDataBrowser("")

# Name: OME Plugin
# Authors: Phil Huettl, Melissa Linkert and Curtis Rueden
Plugins, "OME Plugin", loci.ome.ij.OMEPlugin("")
