            <!--
            // Property Image
            -->
            <oneoneowner name="image" type="ome.model.core.Image"/>
            <!--
            // Property SHA1
            -->
            <required name="sha1" type="String"/>
