{% if fu.SOURCE_TYPE == "header" %}\
        /**
         * Retrieves the reference's target object ID.
         * @return See above.
         */
        virtual
        const std::string&
        getID () const = 0;

        /**
         * Sets the reference's target object ID.
         * @param id The object ID to set.
         */
        virtual
        void
        setID (const std::string& id) = 0;
{% end %}\
