<!--
  #%L
  OME Bio-Formats package for reading and converting biological file formats.
  %%
  Copyright (C) 2005 - 2016 Open Microscopy Environment:
    - Board of Regents of the University of Wisconsin-Madison
    - Glencoe Software, Inc.
    - University of Dundee
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 2 of the 
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public 
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-2.0.html>.
  #L%
  -->

<suite name="BioFormats Unit Tests">
    <test name="ServiceTests">
        <groups/>
        <classes>
            <class name="loci.formats.utests.MDBServiceTest"/>
            <class name="loci.formats.utests.NetCDFServiceTest"/>
            <class name="loci.formats.utests.JHDFServiceTest"/>
            <class name="loci.formats.utests.POIServiceTest"/>
        </classes>
        <packages>
            <package name="loci.formats.utests.xml"/>
        </packages>
    </test>
    <test name="CurrentSchemaModelObjects">
        <groups>
            <run>
                <exclude name="disabled"/>
            </run>
        </groups>
        <parameter name="mockClassName"
                   value="loci.formats.utests.ObjectBasedOMEModelMock"/>
        <classes>
            <class name="loci.formats.utests.InOutCurrentTest"/>
        </classes>
    </test>
    <test name="CurrentSchemaIMetadata">
        <groups>
            <run>
                <exclude name="disabled"/>
            </run>
        </groups>
        <parameter name="mockClassName"
                   value="loci.formats.utests.IMetadataBasedOMEModelMock"/>
        <classes>
            <class name="loci.formats.utests.InOutCurrentTest"/>
        </classes>
    </test>
    <test name="XMLAnnotation">
      <groups/>
      <classes>
        <class name="loci.formats.utests.XMLAnnotationTest"/>
      </classes>
    </test>
    <test name="ScreenReader">
      <groups/>
      <classes>
        <class name="loci.formats.utests.ScreenDetectionTest"/>
      </classes>
    </test>
</suite>
